// PROJECT VARIABLES
/* COLORS */
$color-best-green                  : #679940;
$color-best-blue                   : #1973BE;
$color-best-yellow                 : #FAA519;
/* SHADOWS */
$shadow-key-umbra-opacity          : 0.2 !default;
$shadow-key-penumbra-opacity       : 0.14 !default;
$shadow-ambient-shadow-opacity     : 0.12 !default;
/* ANIMATION */
$animation-curve-fast-out-slow-in  : cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default           : $animation-curve-fast-out-slow-in !default;
