/*!
 * Admin styles
 * Plugin Name: wp_best_courses_lbgs
 * Version: 1.0
 */.test{color:#fff}table.history_table{font-size:medium;text-align:center;margin-left:5%;margin-right:5%;width:90%;background-color:#fff;border-collapse:collapse}table.history_table>tbody>tr>td{border:1px solid #5e740b;padding:2px}table.history_table>tbody>tr>th{border:1px solid #3c2bb6;padding:4px;font-size:large;text-shadow:.3px .3px;background-color:#e4f2fd}table.history_table>tbody>tr:nth-child(even){background-color:#ecf7ed}table.history_table>tbody>tr:hover{background-color:#cfc}