/*!
 * Frontend styles
 * Plugin Name: wp_best_courses_lbgs
 * Version: 1.0
 */#courses_table{text-align:center}#courses_table td{height:40px;line-height:15px}#courses_table tbody tr:nth-child(odd){background-color:#FFF0BE}#courses_table td,#courses_table th{border-width:2px 1px;border-color:#fff;border-style:solid;border-collapse:collapse}#courses_table thead{font-size:14px;background-color:#FAA519}#courses_table thead,#courses_table thead a{color:#fff}